rutorrent-config/log
rutorrent-config/rtorrent/rtorrent_sess
rutorrent-config/rutorrent/profiles/history_data.dat
rutorrent-config/rutorrent/profiles/torrents/*
rutorrent-config/rutorrent/profiles/settings/*
rutorrent-config/rutorrent/profiles/users/andrew/settings/*
rutorrent-config/rutorrent/profiles/users/andrew/torrents/*
rutorrent-config/certbot/conf
*.pem

